{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Upload Excel File</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h2>Выберите количество переменных и введите их названия:</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="number" id="num_variables" name="num_variables" min="1" max="99" oninput="addVariableFields()">
        <div id="variable_fields"></div>
        <input type="file" name="excel_file">
        <button type="submit">Отправить</button>
    </form>

    <!-- Кнопка для выбора изображения -->
    <h2>Выберите изображение:</h2>
    <input type="file" name="image_file" onchange="previewImage(event)">
    
    <!-- Блок для отображения выбранного изображения -->
    <div id="image_container" style="position: relative;">
        <img id="image_preview" src="#" alt="Image Preview">
    </div>

    <div class="variables">
        {% for variable, values in variable_values.items %}
        <div class="variable">
            <label>{{ variable }}</label>
            <p>Значения:</p>
            <ul>
                {% for value in values %}
                <li>{{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <button onclick="saveCanvas()">Сохранить изображение с текстом</button>

    <!-- Добавляем переключатель для выбора положения текста -->
    <h2>Выберите положение текста:</h2>
    <input type="radio" name="text_position" value="horizontal" checked> Горизонтальное
    <input type="radio" name="text_position" value="vertical"> Вертикальное
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>